<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	  <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.lunifera.ide.core.ui.nature.addNature"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.lunifera.ide.core.ui.nature.ToggleLuniferaNatureAction"
               icon="icons/lunifera.png"
               id="org.lunifera.ide.core.ui.nature.AddLuniferaNatureAction"
               label="Convert to Lunifera project"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
         	<not>
	            <objectState
    	              name="nature"
        	          value="org.lunifera.ide.core.ui.shared.LuniferaNature">
            	</objectState>
            </not>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.lunifera.ide.core.ui.nature.removeNature"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.lunifera.ide.core.ui.nature.ToggleLuniferaNatureAction"
               icon="icons/lunifera.png"
               id="org.lunifera.ide.core.ui.nature.RemoveXtextNatureAction"
               label="Remove Lunifera Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
               <objectState
    	              name="nature"
        	          value="org.lunifera.ide.core.ui.shared.LuniferaNature">
            	</objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/nature_overlay.png"
            id="org.lunifera.ide.core.nature.overlay"
            label="Lunifera Nature"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
         	<and>
		     	<objectClass
		              name="org.eclipse.core.resources.IProject"/>
		        <objectState
		              name="nature"
		              value="org.lunifera.ide.core.ui.shared.LuniferaNature">
		        </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Lunifera"
            icon="/icons/luniferaPerspective.png"
            class="org.lunifera.ide.core.ui.perspective.LuniferaPerspectiveFactory"
            id="org.lunifera.ide.core.ui.LuniferaPerspective">
         <description>
            Provides views for Lunifera project
         </description>
      </perspective> 
    </extension>
       <extension
         point="org.eclipse.ui.views">
      <category
            id="org.lunifera.eclipse.ui.views.category.Resources"
            name="Lunifera Views">
      </category>
   </extension>
   

</plugin>
